<div class='address'>
  <span class='name'>
  <% if defendant.title %><%= defendant.title + ' ' %><% end %>
  <% if defendant.full_name %><%= defendant.full_name %><% end %>
  </span>
  <% if defendant.street_1 %><span class='address'><%= defendant.street_1 %></span><% end %>
  <% if defendant.street_2 %><span class='address'><%= defendant.street_2 %></span><% end %>
  <% if defendant.street_3 %><span class='address'><%= defendant.street_3 %></span><% end %>
  <% if defendant.town %><span class='address'><%= defendant.town %></span><% end %>
  <% if defendant.county %><span class='address'><%= defendant.county %></span><% end %>
  <% if defendant.postcode %><span class='address'><%= defendant.postcode %></span><% end %>
  <span class='edit'><%= link_to "View/edit full details", show_editor_claim_defendant_path( @claim, defendant ) %></span>
</div>