= claim_form.simple_fields_for :defendants do |df|
  - is_additional_defendant = df.index > 0
  .moj-panel.edit-person
    - if (is_additional_defendant) 
      %strong Add another tenant
    = df.input :full_name, placeholder: "eg John Smith"
    = df.input :phone
    = df.input :mobile
    = df.input :email

    = df.simple_fields_for :address do |dff|
      .address{ class: ("element-invisible expander" unless dff.object.is_valid?) }
        = dff.input :street_1, label: 'Street'
        = dff.input :street_2, :label => '&nbsp;'
        = dff.input :street_3, :label => "&nbsp;"
        = dff.input :town
        = dff.input :county

      = dff.input :postcode do
        = dff.input_field :postcode, class: "postcode", required: true
        - classes = 'button-secondary find-uk-address' 
        - classes << ' disabled' if dff.object.postcode.blank? 
        = link_to 'Find UK address', '/address/picker', :class => classes

        - if (is_additional_defendant)
          = button_tag( name: 'same-address-as-first-tenant', value: dff.object.id, class: 'post-link formalise' ) do
            = content_tag(:span, 'Same address as first tenant')

    -if is_additional_defendant
      = button_tag( name: 'destroy', value: df.object.id, class: 'button-warning' ) do
        = content_tag(:span, 'Remove')