= kss_block '1.1' do
  %nav.primary
    %ol
      %li.active= link_to "Link 1", '#'
      %li= link_to "Link 2", '#'
      %li= link_to "Link 3", '#'
      %li= link_to "Link 4", '#'
      %li= link_to "Link 5", '#'