= kss_block '2.1' do
  %nav.primary
    %ol
      %li= link_to "Home", '#', class: 'active'
      %li= link_to "About Us", '#'
      %li= link_to "Products", '#'
      %li= link_to "Services", '#'
      %li= link_to "Contact", '#'