<%= simple_form_for( [claim, person], url: claim_person_path(claim, person), remote: true, html: { :id => 'edit-person-'+person.id.to_s, :class => 'panel-default'  } ) do |f| %>
  <% if options.has_key? :delete_on_cancel %>
    <input type='hidden' name='delete_on_cancel' />
  <% end %>

  <%# Section Head %>
  <% if options.has_key? :title %>
    <h4><%= options[:title] %></h4>
  <% end %>

  <%= render partial: "people/edit_fields", locals: { claim: claim, person: person, f: f, options: options } %>

  <%# Save / Cancel / Remove %>
  <div class='buttons'>
    <%= button_tag(type: 'submit', name: 'commit', value: 'save', class: "button") do %>
      <%= options[:save_button_text] || 'Save details' %>
    <% end %>

    <% unless options.has_key? :no_cancel %>
      <%= f.submit :Cancel, :class => 'button-secondary' %>
    <% end %>

    <% if options.has_key? :show_remove_button %>
      <%= f.submit :Remove, :class => "button-warning float" %>
    <% end %>
  </div>
<% end %>