<%= simple_form_for( [claim, person], url: claim_person_url(claim, person), remote: true, html: { :id => 'edit-person-'+person.id.to_s, :class => 'form-horizontal edit-person' } ) do |f| %>
  <% if options.has_key? :delete_on_cancel %>
    <input type='hidden' name='delete_on_cancel' />
  <% end %>
  <div class='<%= options[:class] %>'>
    <% if options.has_key? :title %>
      <h4><%= options[:title] %></h4>
    <% end %>
    <% default_titles = %w(Mr Mrs Miss Ms Dr Other...) %>
    <% if person.title.blank? || default_titles.include?( person.title ) %>
      <%= f.input :title, :collection => default_titles, :default => 'Mr', input_html: { class: 'title' } %>
    <% else %>
      <%= f.input :title, :input_html => { class: 'title' } %>
    <% end %>
    <%= f.input :full_name, :placeholder => 'e.g. John Smith' %>
    <%= f.input :phone %>
    <%= f.input :mobile %>
    <%= f.input :email %>

    <% if options.has_key? :show_dx || !(person.dx_number.blank? && person.dx_exchange.blank? ) %>
      <% dx_controls = capture { f.input :dx_number, :label => 'DX number' } %>
      <% dx_controls << capture { f.input :dx_exchange, :label => 'DX exchange' } %>
      <%= toggle_inline_help_link( 'Do they have a DX number?', dx_controls ) %>
    <% end %>

    <%= render partial: "addresses/edit", formats: [:html], locals: {claim: claim, person: person, address: person.address, options: options} %>

    <div class='btn-toolbar'>
      <div class='btn-group'>
        <%= button_tag(type: 'submit', name: 'commit', value: 'save', class: "button") do %>
          <%= options[:save_button_text] || 'Save details' %>
        <% end %>

        <%= f.submit :Cancel, :class => 'button-secondary' %>
      </div>
      <div class='btn-group' style = 'margin-left:11em'>
        <% if options.has_key? :show_remove_button %>
          <%= f.submit :Remove, :class => "button-warning" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>