<div class="<%= options[:class] %>" id="person<%= person.id %>">
  <% if options[:title] %>
    <h5><%= options[:title] %></h5>
  <% end %>
  <span class='name'><%= "#{person.title} #{person.full_name}".strip %></span>
  <div class='address-linear'>
    <%= render partial: 'addresses/show', formats: [:html], locals: {address: person.address} %>
  </div>
  <% if options.has_key? :show_edit_link %>
    <span class='toggle-editor'><%= link_to "View/edit details", editor_claim_person_path( claim, person ), :remote => true  %></span>
  <% else %>
    <span class='filler'></span>
  <% end %>
</div>