<tr>
  <%= f.hidden_field :_destroy, :class => "destroy" %>
  <td><%= f.date_field :due_date, :as => :datepicker %></td>
  <!-- :field_attribute, :value => format_method(f.object.field_attribute) %> -->
  <td><%= f.input :amount, label: false, :input_html => { :class=>"arrears-amount", :value => f.object.amount || "arrears_new_item_amount" }  %></td>
  <td><%= f.input :arrear, label: false, :input_html => { :class=>"arrears-arrear", :value => f.object.arrear || "arrears_new_item_arrear" }%></td>
  <td>
    <div class="button disabled">Edit</div>
    <%= button_to_remove_fields "Remove", f, :arrears %>
  </td>
</tr>