<tr>
  <%= f.hidden_field :_destroy, :class => "destroy" %>
  <td class="arrears-duedate">
  	<%= f.hidden_field :due_date %>
  	<div><%= f.object.due_date %> </div>
  </td>
  <!-- :field_attribute, :value => format_method(f.object.field_attribute) %> -->
  <td class="arrears-amount">
  	<%= f.hidden_field :amount %>
  	<div>&pound<%= f.object.amount %></div>
  </td>
  <td class="arrears-paid">
  	<%= f.hidden_field :paid %>
  	<div>&pound<%= f.object.paid %></div>
  </td>
  <td class="arrears-arrear">rent - f.object.amount</td>
  <td>
    <%= button_to_remove_fields "Remove", f, :arrears %>
  </td>
</tr>