<tr>
  <%= f.hidden_field :_destroy, :class => "destroy" %>
  <td class="arrears-duedate">
  	<%= f.hidden_field :due_date, :value => f.object.due_date || "arrears-duedate-new-item-hidden" %>
  	<div>
      <%= if(f.object.due_date) then f.object.due_date.strftime("%d/%m/%Y") else "arrears-duedate-new-item-text" end %> 
    </div>
  </td>
  <td class="arrears-amount">
    <% amount_value= f.object.amount || "arrears-amount-new-item" %>
  	<%= f.hidden_field :amount, :value => amount_value %>
  	<div>&pound<%= amount_value %></div>
  </td>
  <td class="arrears-paid">
    <% paid_value= f.object.paid || "arrears-paid-new-item" %>
  	<%= f.hidden_field :paid, :value => paid_value %>
  	<div>&pound<%= paid_value %></div>
  </td>
  <td class="arrears-arrear">
    <% arrear_value = if f.object.amount && f.object.paid %>
      <% f.object.amount.to_f - f.object.paid.to_f %>
    <% else "arrears-arrear-new-item" %>
    <% end %>
    &pound<%=arrear_value %>

    <input type="hidden" value="<%=arrear_value%>" >
  </td>
  <td class="arrears-cols-button">
    <%= button_to_remove_fields "Remove", f, :arrears %>
  </td>
</tr>