<tr>
  <%= f.hidden_field :_destroy, :class => "destroy" %>
  <td><%= f.date_field :due_date, :as => :datepicker %></td>
  <!-- :field_attribute, :value => format_method(f.object.field_attribute) %> -->
  <td><%= f.input :amount, label: false, :input_html => { :value => f.object.amount || default_values && default_values[:amount] }  %></td>
  <td><%= f.input :arrear, label: false, :input_html => { :value => f.object.arrear || default_values && default_values[:arrear] }%></td>
  <td>
    <div class="button disabled">Edit</div>
    <%= button_to_remove_fields "Remove", f, :arrears %>
  </td>
</tr>