<section id="rental-arrears" <%= "hidden" unless @claim.claim_rental_arrears %> >
  <h3>Rental arrears</h3>
  
  <div class="well well-sm">
    <p>Add all payment arrears to the table below or <a data-toggle="modal" href="#arrears-dialog">upload a csv file</a></p>
    
    <!-- for now -->
    <%= render "shared/modal_dialog", 
      :dialog_id => "arrears-dialog", 
      :content_partial => "arrears/upload_dialog_content",
      :f => f, 
      :dialog_title => "Upload CSV file", 
      :file_name=>"arrears-property.csv" 
     %>
    
      <div class="row">
      <div class="col-lg-3"><%= f.label :rent_due_date, "Rent due on" %></div>
      <div class="col-lg-8"><%= inline_date_input f, :rent_due_date %></div>
    </div>
    
    <br>

    <div>
      <%= f.label :contributions_this_month, "Did the defendant(s) make any contributions this month?" %><br />
      <div class="row">
        <div class="col-lg-5">
          <div class="input-group">
            <span class="input-group-addon">&pound</span>
            <%= f.input :contributions_this_month, label: false %>
          </div>
        </div>
      </div>
    </div>

    <br/>
    
    <div class="btn-group">
      <%= button_to_add_fields "arrears", "Add", f, :arrears, { :due_date => DateTime.now(), :amount => 0, :arrear => 0 } %>
      <a class="fake-link">Cancel</a>
    </div>

    <div>
      <table id="arrears-table" class="table table-condenced" <%= "hidden" if @claim.arrears.empty? %> >
        <thead>
          <tr>
            <th>Rent due on</th>
            <th>Amount due</th>
            <th>Arrears</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="arrears-body">
          <%= f.simple_fields_for :arrears do |builder| %>
            <%= render "arrears/arrear_fields", :f => builder, :default_values=>nil %>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <p><a class="fake-link">About adding rental arrears</a></p>

  </div>
</section>