<section id="rental-arrears">
  <h3>Unpaid rent</h3>
  <p>Two ways to add details of unpaid rent, either</p>
  
  <div class="panel-default">
    <h4>Enter unpaid rent amounts</h4>
    
    <div class="labeled-content">
      <div class="content-label">Rent due on</div>
      <div class="content">
        <div class="all-inline">

            <select id="arrears-select-day">
              <option />
              <% for day in 1..31 %>
                <option value="<%= day %>"><%= day %></option>
              <% end %>
            </select>

            <select id="arrears-select-month">
              <option />
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
 
            <select id="arrears-select-year">
              <option />
              <% for year in 2009..2013 %>
                <option value="<%= year %>"><%= year %></option>
              <% end %>
            </select>

          <%= button_to_add_fields "arrears", "Add unpaid rent", f, :arrears %>
        </div> 

        <details>
          <summary>Did the tenant(s) pay part of the rent?</summary>
          <div class="all-inline">
            <strong>&pound;</strong>
            <input class="js-arrears-month-contribution" type="text" />
          </div>
        </details>
      </div>
    </div>
    
    <div id="rental-arrears-error" class="panel-error" hidden></div>
    
    <div>
      <table id="arrears-table" class="moj-table editable" <%= "hidden" if @claim.arrears.empty? %> >
        <thead>
          <tr>
            <th id="rent-date-header">Rent due on</th>
            <th>Rental amount</th>
            <th>Amount paid</th>
            <th>Unpaid rent</th>
            <th class="arrears-cols-button"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">Total</td>
            <td id="arrears-total-amount">
              <% rental_amount = @claim.rental_amount || 0 %>
              <% arrears_total_amount = (rental_amount * @claim.arrears.count)- @claim.arrears.sum(:paid) %>
              <input type="hidden" value="<%= arrears_total_amount %>" />
              <div id="arrears-total-amount-text">&pound;<%=arrears_total_amount %></div>
            </td>
            <td></td>
          </tr>
        </tfoot>
        <tbody id="arrears-body">
          <%= f.simple_fields_for :arrears do |builder| %>
            <%= render "arrears/arrear_fields", :f => builder %>
          <% end %>
        </tbody>
      </table>
    </div>

    <hr />
    <div class='awkward-and-temporary-layout clearfix'>
      <h4>or enter the total due and attach a file</h4>
      <% scope = "$('#attachments-section > input')" %>
      <% filename = 'rental_arrears.xls' %>
      <div class='right-aligned-button-group'>
        <%= button_to_add_fields('attachments', 'attach documents', f, :attachments, scope, filename) %>
        <div class="striped-choice">
          <input id="claim_notice_to_quit_attached" name="claim[notice_to_quit_attached]" type="checkbox">
          <label for="claim_notice_to_quit">arrears files attached</label>
        </div>
      </div>
  

      <div class='labeled-content'>
        <label>Total due</label>
        <strong>&pound;</strong>
        <input />
      </div>

    </div>
    
  </div>
    
  <div id="unpaid-rent-calculation" class="panel-default">
    <%= f.label :unpaid_rent_per_day, "Unpaid rent should be calculated at" %>
    <div class="all-inline">
      <strong>&pound;</strong>
      <%= f.text_field :unpaid_rent_per_day, :label => false %>
      per day
    </div>
  </div>

</section>