<section id="rental-arrears" <%= "hidden" unless @claim.claim_rental_arrears %> >
  <h3>Rental arrears</h3>
  
  <div class="panel-default">
    <strong>Add rental arrears</strong>
    
    <div class="labeled-content">
      <div class="content-label">Rent due on</div>
      <div class="content">
        <div class="all-inline">
          <div>
            <select id="arrears-select-day">
              <option />
              <% for day in 1..31 %>
                <option value="<%= day %>"><%= day %></option>
              <% end %>
            </select>
          </div>
          <div>
            <select id="arrears-select-month">
              <option />
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div>
            <select id="arrears-select-year">
              <option />
              <% for year in 2009..2013 %>
                <option value="<%= year %>"><%= year %></option>
              <% end %>
            </select>
          </div>
          <div id="arrears-add-item"> <%= button_to_add_fields "arrears", "Add arrears", f, :arrears %></div>
        </div> 

        <details>
          <summary>Did the defendant/s make any partial payments?</summary>
          <div class="all-inline">
            <strong>&pound</strong>
            <div class="default-box-width">
              <input id="arrears-month-contribution" type="text" />
            </div>
          </div>
        </details>
      </div>

      <div id="about-rental-arrears"><a class="fake-link">About adding rental arrears</a></div>
    </div>
    
    <div id="rental-arrears-error" class="panel-error" hidden></div>
    
    <div>
      <table id="arrears-table" class="govuk-table" <%= "hidden" if @claim.arrears.empty? %> >
        <thead>
          <tr>
            <th id="rent-date-header">Rent due on</th>
            <th>Rental amount</th>
            <th>Amount paid</th>
            <th>Arrears</th>
            <th class="arrears-cols-button"></th>
          </tr>
        </thead>
        <tfoot>
          <tr class="table-footer">
            <td id="arrears-total-label" colspan="3">Total arrears</td>
            <td id="arrears-total-amount">
              <% rental_amount = @claim.rental_amount || 0 %>
              <% arrears_total_amount = (rental_amount * @claim.arrears.count)- @claim.arrears.sum(:paid) %>
              <input type="hidden" value="<%= arrears_total_amount %>" />
              <div id="arrears-total-amount-text">&pound;<%=arrears_total_amount %></div>
            </td>
            <td></td>
          </tr>
        </tfoot>
        <tbody id="arrears-body">
          <%= f.simple_fields_for :arrears do |builder| %>
            <%= render "arrears/arrear_fields", :f => builder %>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
    
  <div id="unpaid-rent-calculation" class="panel-default">
    <%= f.label :unpaid_rent_per_day, "Unpaid rent should be calculated at" %>
    <div class="all-inline">
      <strong>&pound</strong>
      <div class="default-box-width"><%= f.text_field :unpaid_rent_per_day, :label => false %></div>
      a day
    </div>
    <div class="striped-choice">
      <div>
        <%= f.check_box :defendent_to_pay_for_claim %>
        <%= f.label :defendent_to_pay_for_claim, "Do you want to request that the defendent/s pay the cost of the claim" %>
      </div>
    </div> 
  </div>

</section>