<section id="rental-arrears" <%= "hidden" unless @claim.claim_rental_arrears %> >
  <h3>Rental arrears</h3>
  
  <div class="panel-default">
    <strong>Add rental arrears</strong>
    
    <div class="inline-content">
      <div class="content-label">
        rent due on
      </div>

      <div class="content-60">
        <%= %>
        <details>
          <summary>Did the defendant/s make any partial payments?</summary>
          <div>
            
          </div>
        </details>

      </div>


      <div class="content-20">
       <button class="button">button</button>
      </div>


    </div>


    <div>
      <%= "Did the defendant(s) make any contributions this month?" %><br />
      <div class="row">
        <div class="col-lg-5">
          <div class="input-group">
            <span class="input-group-addon">&pound</span>

          </div>
        </div>
      </div>
    </div>

    <br/>
    
    <div class="btn-group">
      <%= button_to_add_fields "arrears", "Add", f, :arrears %>
    </div>

    <div style="padding-top:10px;">
      <table id="arrears-table" class="govuk-table arrear-table" <%= "hidden" if @claim.arrears.empty? %> >
        <thead>
          <tr>
            <th>Rent due on</th>
            <th>Rental amount</th>
            <th>Amount paid</th>
            <th>Arrears</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="arrears-body">
          <%= f.simple_fields_for :arrears do |builder| %>
            <%= render "arrears/arrear_fields", :f => builder %>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <p><a class="fake-link">About adding rental arrears</a></p>
    
  </div>
  <div class="panel-default">
          

              <%= f.label :unpaid_rent_per_day, "Unpaid rent should be calculated at" %>
              <div>
              <span>&pound
              <%= f.input :unpaid_rent_per_day, :label => false, input_html: { class: "testc"} %></span>
              a day
          </div>
          <div class="striped-choice">
            <div>
              <%= f.check_box :defendent_to_pay_for_claim %>
              <%= f.label :defendent_to_pay_for_claim, "Do you want to request that the defendent/s pay the cost of the claim" %>
            </div>
          </div> 

        </div>
</section>