%section{ :class => ("element-hidden" unless @claim.claim_rental_arrears)}
  %h3 Unpaid rent
  %p
    Enter the details of unpaid rental payments below, or 
    %a.fake-link attach a file
  .moj-panel
    .form-row
      %label{ :for => "arrears-select-day" } Rent due on
      %select.date{ :id => "arreats-select-day" } 
        %option
        - for day in 1..31
          %option{ :value => day } 
            = day
      %select.date
        %option
        -for month in 1..12
          %option{ :value => month}
            = Date::MONTHNAMES[month]
      %select.date
        %option
        - for year in 2009..2013
          %option{ :value => year } 
            = year
      %span.button Add unpaid rent
      = link_to "Add unpaid rent", claim_arrears_path(@claim), :remote => true, :method => :post, :class => "button" 

      
      %details
        %summary 
          %span.status-header Did the tenant(s) pay part of the rent?
        %span.content-list
          %strong &pound;
          %input.small{ :type => "text"}

      %h3 arrears table
  .moj-panel
    = f.label :unpaid_rent_per_day, "Unpaid rent should be calculated at"
    %strong &pound;
    = f.input :unpaid_rent_per_day, :label => false, as: :currency, :input_html => { :class => 'small' }
    per day
    .striped-choice
      = f.input :defendent_to_pay_for_claim, label: "Do you want to ask for the tenant(s) to pay for the cost of the case?"
