<div class='navbar' id='claim-nav'>
  <div class='navbar-inner'>
    <ul class="nav">
      <li><%= nav_link 'personal_details', 'Personal Details' %></li>
      <li><%= nav_link 'particulars', 'Claim Particulars'  %></li>
      <li><%= nav_link 'scheduling', 'Court Scheduling' %></li>
      <li><%= nav_link 'statement', 'Statement of Truth' %></li>
      <li><%= nav_link 'fees', 'Fees & Payment' %></li>
      <li><%= nav_link 'confirmation', 'Confirmation & Next Steps' %></li>
    </ul>
  </div>
</div>