<div class='navbar'>
  <div class='navbar-inner'>
    <ul class="nav">
      <li class='active'><a href='#'>Personal Details</a></li>
      <li><a href='#'>Claim Particulars</a></li>
      <li><a href='#'>Court Scheduling</a></li>
      <li><a href='#'>Statement of Truth</a></li>
      <li><a href='#'>Fees &amp; Payment</a></li>
      <li><a href='#'>Confirmation &amp; Next Steps</a></li>
    </ul>
  </div>
</div>

<div class="page-header">
  <h1>1. Personal Details</h1>
</div>

<section id='edit-claim'>
  <p>Add the details of the claimants and defendants involved in the possession claim</p>
  <a href='#'>About claimants and defendants</a>

  <h4>Who is the claimant in this claim</h4>
  <% @claim.claimants.each do |claimant| %>
    <div class="well clearfix">
      <% if(!@editors[claimant.id]) %>
        <%= render partial: 'claimants/show', locals: {claimant: claimant} %>
      <% else %>
        <%= render partial: 'claimants/edit', locals: {claimant: claimant} %>
      <% end %>
    </div>
  <% end %>
  <%= form_tag(new_claim_claimant_path( @claim ), method: "get") do %>
    <%= submit_tag("Add a co-claimant") %>
  <% end %>

  <h2 class='center'>vs</h2>

  <h4>Who is the defendant in this claim</h4>
  <% @claim.defendants.each do |defendant| %>
    <div class="well clearfix">
      <% if(defendant.full_name && !@editors[defendant.id]) %>
        <%= render partial: 'defendants/show', locals: {defendant: defendant} %>
      <% else %>
        <%= render partial: 'defendants/edit', locals: {defendant: defendant} %>
      <% end %>
    </div>
  <% end %>
  <%= form_tag(new_claim_defendant_path( @claim ), method: "get") do %>
    <%= submit_tag("Add a co-defendant") %>
  <% end %>
</section>