<p><b>Use this online form to repossess a property if your tenant or a mortgage borrower doesn't keep up with payments or won't leave the property.</b></p>
<p>The form will take about 20 minutes to complete.</p>
<p>You will have to pay a £100 court fee.</p>
<p>You may have to go to a court hearing afterwards.</p>
<p>The whole process usually takes at least 12 weeks.</p>
<% if @user.claims.size > 0 %>
<ul class='nav nav-tabs' id='claims-index-tabs'>
  <li class='active submit'><a href='#new' data-toggle="tab">Start a new claim</a></li>
  <li class='list'><a href='#list' data-toggle="tab">Your claims</a></li>
</ul>
<% else %>
<h4>Start a new claim</h4>
<% end %>

<div class='tab-content'>
  <div class='tab-pane active well' id='new'>
    <p>To start court action to repossess a property, follow the steps below:</p>
    <ol>
      <li>
        <h4>Name people involved</h4>
        <p>Fill in your details and the name of your tenant or borrower.
          <a href='#'>More about defendants and co-claimants</a>
        </p>
      </li>
      <li>
        <h4>Give details of property</h4>
        <p>Include the address and why you want the property back.
          <a href='#'>More about claim details</a>
        </p>
      </li>
      <li>
        <h4>Check and confirm information</h4>
        <p>Check all the details and confirm they are correct.
          <a href='#'>More about making a statement of truth</a>
        </p>
      </li>
      <li>
        <h4>Pay court fee</h4>
        <p>Pay the &pound;100 court fee using a debit or credit card.
        </p>
      </li>
      <li>
        <h4>Confirmation and next steps</h4>
        <p>We'll confirm receipt of your claim and tell you what happens next.
          <a href='#'>More about what happens next</a>
        </p>
      </li>
    </ul>

    <%= form_tag(claims_path, method: "post") do %>
      <%= submit_tag("Start a new claim") %>
    <% end %>
  </div>
  <div class='tab-pane well' id='list'>
    <ul class='claims' id='claims-list'>
      <% @user.claims.each do |claim| %>
        <li class='clearfix'>
          <div class='claim_id'>
            <span class='title'>Claim</span>
            <span class='content'><%= claim.id %></span>
          </div>
          <div class='participants'>
            <span class='title'>Claimant/Defendant Names</span>
            <span class='content'><%= claim.claimants.first.full_name %> vs <%= claim.defendants.first.full_name %></span>
          </div>
          <div class='controls'>
             <span><%= link_to 'Continue', claim_path(claim) %></span>
             <span><%= link_to 'Delete', claim_delete_path(claim) %></span>
          </div>
         
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <h4>Before you begin</h4>
  <p>If you are making your first possession claim online here are a few things you need to know and to think about. These help topics are a good place to start....</p>
</div>