<h2>Recover Property: Make a possession claim online</h1>
<p>You can take court action to repossess a property if you are owed money for rent or mortgage, and the tenant or mortgage holder wont pay.</p>

<% if @user.claims.size > 0 %>
<ul class='nav nav-tabs' id='claims-index-tabs'>
  <li class='active submit'><a href='#new' data-toggle="tab">Submit a new claim</a></li>
  <li class='list'><a href='#list' data-toggle="tab">Your claims</a></li>
</ul>
<% else %>
<h4>Submit a new claim</h4>
<% end %>

<div class='tab-content'>
  <div class='tab-pane active well' id='new'>
    <p>To submit a new claim, follow the steps below</p>
    <ol>
      <li>
        <h4>Confirm people involved</h4>
        <p>The details of all the parties involved in the claim,
          any co-claimants and all defendants.
          <a href='#'>More about defendants and co-claimants</a>
        </p>
      </li>
      <li>
        <h4>Details of the claim</h4>
        <p>All the claim particulars including address for possession,
          grounds for possession, details of tenancy and the defendants.
          <a href='#'>More about claim details</a>
        </p>
      </li>
      <li>
        <h4>Statement of truth</h4>
        <p>Confirm that all details of case being brought are correct.
          <a href='#'>More about making a statement of truth</a>
        </p>
      </li>
      <li>
        <h4>Fee payment</h4>
        <p>When everything is correct and you are ready to pay the &pound;100 fee
        </p>
      </li>
      <li>
        <h4>Confirmation and next steps</h4>
        <p>Get confirmation of which court and when, what you will
          need to bring to court and what happens next.
          <a href='#'>More about what happens next</a>
        </p>
      </li>
    </ul>

    <%= form_tag(claims_path, method: "post") do %>
      <%= submit_tag("SUBMIT NEW CLAIM") %>
    <% end %>
  </div>
  <div class='tab-pane well' id='list'>
    <ul class='claims' id='claims-list'>
      <% @user.claims.each do |claim| %>
        <li class='clearfix'>
          <div class='claim_id'>
            <span class='title'>Claim</span>
            <span class='content'><%= claim.id %></span>
          </div>
          <div class='participants'>
            <span class='title'>Claimant/Defendant Names</span>
            <span class='content'><%= claim.claimants.first.full_name %> vs <%= claim.defendants.first.full_name %></span>
          </div>
          <div class='controls'>
             <span><%= link_to 'Continue', claim_path(claim) %></span>
             <span><%= link_to 'Delete', claim_delete_path(claim) %></span>
          </div>
         
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <h4>Before you begin</h4>
  <p>If you are making your first possession claim online here are a few things you need to know and to think about. These help topics are a good place to start....</p>
</div>