<%= simple_form_for( [@claim, claimant], remote: true, html: {class: 'form-horizontal person' } ) do |f| %>
  <%= f.input :title %>
  <%= f.input :full_name %>
  <%= f.input :phone %>
  <%= f.input :mobile %>
  <%= f.input :email %>

  <% if !(claimant.postcode.to_s != '' && claimant.street_1.to_s != '') %>
    <div class='control-group'><a href="#">Do you have a DX number?</a></div>
    <%= f.input :postcode %>
    <input type='button' value='Find UK address' class='address-lookup' />
  <% else %>
    <%= f.input :street_1 %>
    <%= f.input :street_2 %>
    <%= f.input :street_3 %>
    <%= f.input :town %>
    <%= f.input :county %>
    <%= f.input :postcode %>
  <% end %>

  <%= f.submit :Save,  :class => 'special break' %>
  <%= f.submit :Cancel, :class => 'special' %>
<% end %>