= claim_form.simple_fields_for :claimants do |cf|
  - is_additional_claimant = cf.index > 0
  .moj-panel.edit-person
    - if (is_additional_claimant) 
      %strong Add an additional landlord

    = cf.input :full_name, placeholder: "e.g. John Smith"
    = cf.input :phone
    = cf.input :mobile
    = cf.input :email

    %details{ :open => show_dx_controls_for(cf.object) }
      %summary Do they have a DX number?
      = cf.input :dx_number
      = cf.input :dx_exchange

    = cf.simple_fields_for :address do |cff|
      - has_valid_address = claimant.address.present? && cff.object.valid? && !cff.object.street_1.blank?
      = cff.input :postcode do
        = cff.input_field :postcode, class: "postcode", required: true
        - classes = 'button-secondary find-uk-address' 
        - classes << ' disabled' if cff.object.postcode.blank? 
        = link_to 'Find UK Address', '/address/picker', :class => classes

        - unless has_valid_address
          %br/
          = submit_tag "Same address as first tenant", :class => "button-secondary"

      %div.address{ class: ("element-invisible" unless has_valid_address) }
        = cff.input :street_1, label: 'Street', class: 'street_1'
        = cff.input :street_2, :label => nil
        = cff.input :street_3, :label => nil
        = cff.input :town
        = cff.input :county
        = cff.input :postcode

      -if is_additional_claimant
        = button_tag( name: 'destroy', value: cff.object.id, class: 'button-warning' ) do
          = content_tag(:span, 'Remove')




