= claim_form.simple_fields_for :claimants do |cf|
  - is_additional_claimant = cf.index > 0
  .moj-panel.edit-person
    - if (is_additional_claimant) 
      %strong Add another landlord

    = cf.input :full_name, input_html: { class: 'mob-input-width' }, placeholder: "eg John Smith"
    = cf.input :phone, input_html: { class: 'mob-input-width' }
    = cf.input :mobile, input_html: { class: 'mob-input-width' }
    = cf.input :email, input_html: { class: 'mob-input-width' }

    %details{ :open => show_dx_controls_for(cf.object) }
      %summary Do they have a DX number?
      = cf.input :dx_number, input_html: { class: 'mob-input-width' }, label: 'DX number'
      = cf.input :dx_exchange, input_html: { class: 'mob-input-width' }, label: 'DX exchange'

    = cf.simple_fields_for :address do |cff|
      .address{ class: ("element-invisible expander" unless cff.object.is_valid?) }
        = cff.input :street_1, input_html: { class: 'mob-input-width' }, label: 'Street', class: 'street_1'
        = cff.input :street_2, input_html: { class: 'mob-input-width' }, :label => '&nbsp;'
        = cff.input :street_3, input_html: { class: 'mob-input-width' }, :label => '&nbsp;'
        = cff.input :town, input_html: { class: 'mob-input-width' }
        = cff.input :county, input_html: { class: 'mob-input-width' }

      = cff.input :postcode do
        = cff.input_field :postcode, class: "postcode", required: true
        - classes = 'button find-uk-address' 
        - classes << ' disabled' if cff.object.postcode.blank? 
        = link_to 'Find UK address', '/address/picker', :class => classes

      - if is_additional_claimant
        = button_tag( name: 'same-address-as-first-landlord', value: cff.object.id, class: 'post-link formalise' ) do
          = content_tag(:span, 'Same address as first landlord')

    -if is_additional_claimant
      = button_tag( name: 'destroy', value: cf.object.id, class: 'button-warning' ) do
        = content_tag(:span, 'Remove')




