= claim_form.simple_fields_for :claimants do |cf|
  - is_additional_claimant = cf.index > 0
  .moj-panel.edit-person
    - if (is_additional_claimant) 
      %strong Add an additional landlord
    = cf.input :full_name, placeholder: "e.g. John Smith"
    = cf.input :phone
    = cf.input :mobile
    = cf.input :email
    %details{ :open => show_dx_controls_for(cf.object) }
      %summary Do they have a DX number?
      = cf.input :dx_number
      = cf.input :dx_exchange

    = cf.simple_fields_for :address do |cff|
      - has_valid_address = claimant.address.present? && cff.object.valid? && !cff.object.street_1.blank?
      = cff.input :postcode do
        = cff.input_field :postcode, class: "postcode", required: true
        = submit_tag "Find UK Address", class: "button-secondary find-uk-address" 

        - unless has_valid_address
          %br/
          = submit_tag "Same address as first claimant", :class => "button-secondary"
          %br/
          %a.fake-link{ :class => "js-enter-address-manually" } Enter address manually

      

      %div.address{ class: ("element-invisible" unless has_valid_address) }
        = cff.input :street_1, label: 'Street'
        = cff.input :street_2, :label => nil
        = cff.input :street_3, :label =>""
        = cff.input :town
        = cff.input :county
        = cff.input :postcode
    -if is_additional_claimant
      %span.button-warning Remove



