.moj-panel.edit-person
  %h4 Add an additional landlord
  = form.simple_fields_for "claimants[]", claimant do |sf|
    = sf.input :id, as: :hidden
    = sf.input :full_name, placeholder: 'e.g. John Smith'
    = sf.input :phone
    = sf.input :mobile
    = sf.input :email

    - if (show_dx_controls claimant )
      = dx_controls
    - else
      = toggle_inline_help_link( 'Do they have a DX number?', dx_controls( sf ) )

      = simple_fields_for "claimants[#{claimant.id}][address]", claimant.address do |sff|
        - classes = 'address'
        - classes << ' valid' if claimant.address.valid?
        %div{ class: classes }
          = sff.input :street_1, label: 'Street'
          = sff.input :street_2, label: nil
          = sff.input :street_3, label: nil
          = sff.input :town
          = sff.input :county

        = sff.input :postcode do
          = sff.input_field :postcode, class: 'postcode', required: true
          - classes = 'button-secondary find-uk-address' 
          - classes << ' disabled' if claimant.address.postcode.blank? 
          = button_tag 'Find UK Address', class: classes

        = submit_tag "Same address as first landlord", class: 'copy-address'