<p>
  To submit a new claim follow the steps below:
</p>
<ol class="large-steps" id="new-claim-step-list">
  <li>
    <div>
      <span>1</span>
      <p class="step-title">Confirm people involved</p>
      <p>
        The details of all the parties involved in the claim - any claimants and defendants
        <a class='fake-link'>More about defendants and claimants</a>
      </p>
    </div>
    <img src="<%=image_url('claim-steps/step1.png')%>" alt=""> 
  </li>
  <li>
    <div>
      <span>2</span>
      <p class="step-title">Details of claim</p>
      <p>
        All the claim particulars including address of possession,
        grounds for possession, details of tenancy and the defendants
        <a class='fake-link'>More about claim details</a>
      </p>
    </div>
    <img src="<%=image_url('claim-steps/step2.png')%>" alt=""> 
  </li>
  <li>
    <div>
      <span>3</span>
      <p class="step-title">Court scheduling</p>
      <p>
        Based on the postcode of the property you are claiming
        possession of, you will be given a specific court and hearing time
        <a class='fake-link'>More about making a statement of truth</a>
      </p>
    </div>
    <img src="<%=image_url('claim-steps/step3.png')%>" alt=""> 
  </li>
  <li>
   <div> 
      <span>4</span>
      <p class="step-title">Statement of truth</p>
      <p>Confirm that all details of case being brought are correct
      <a class='fake-link'>More about making a statement of truth</a>
    </div>
    <img src="<%=image_url('claim-steps/step4.png')%>" alt=""> 
  </li>
  <li>
    <div>
      <span>5</span>
      <p class="step-title">Fee payment</p>
      <p>When everything is correct and you are ready to pay the &pound;100 fee</p>
    </div>
    <img src="<%=image_url('claim-steps/step5.png')%>" alt=""> 
  </li>
  <li>
    <div>
      <span>6</span>
      <p class="step-title">Confirmation and next steps</p>
      <p>
        Get confirmation of which court and when, what you will
        need to bring to court and what happens next
        <a class='fake-link'>More about what happens next</a>
      </p>
    </div>
    <img src="<%=image_url('claim-steps/step6.png')%>" alt=""> 
  </li>
</ol>

<%= form_tag(claims_path, method: "post") do %>
  <%= submit_tag "Start a new claim", class: "big button" %>
<% end %>
