<ul id="claims-list">
  <% claims.each do |claim| %>
    <li class="claim-item">
      <div class="labeled-content">
        <div class="content-label">Claim Ref #</div>
        <div class="content block"><%= claim.id %></div>
      </div>

      <div class="labeled-content">
        <div class="content-label">Landlord<%= "s" if claim.claimants.count>1 %></div>
        <div class="content block">
          <% claim.claimants.each do |claimant| %>
            <%= "#{claimant.title} #{claimant.full_name}".strip %> <br>
          <% end %>
        </div>
      </div>

      <div class="labeled-content">
        <div class="content-label">Tenant<%= "s" if claim.defendants.count>1 %></div>
        <div class="content block">
          <% claim.defendants.each do |defendant| %>
            <%= "#{defendant.title} #{defendant.full_name}".strip %><br>
          <% end %>
        </div>
      </div>

      <div class="labeled-content">
        <div class="content-label">Property</div>
        <div class="content block">
          <%= claim.address_for_possession.street_1 %> <br>
          <%= claim.address_for_possession.street_2 %> <br>
          <%= claim.address_for_possession.town %> <br>
          <%= claim.address_for_possession.postcode %> <br>
        </div>
      </div>

      
      <details id="claims-item-status">
        <summary>
          <span id="claims-item-status-label">Status</span>
          <span id="claims-item-status-header">Claim form 60% complete and not yet submitted</span>
        </summary>
        <div id="claims-item-status-content">
          <ul id="claims-item-status-content-list">
            <li class="claims-item-status-item-yes"><span>&#10004;</span>Personal details</li>
            <li class="claims-item-status-item-yes"><span>&#10004;</span>Claim particulars</li>
            <li class="claims-item-status-item-no"><span></span>Statement of truth</li>
            <li class="claims-item-status-item-no"><span></span>Fees & payments</li>
          </ul>
        </div>
      </details>
      
      <div id="claim-item-action-buttons">
        <span><%= link_to 'Continue', claim_path(claim), :class => 'button' %></span>
        <span><%= link_to 'Delete', delete_claim_path(claim), :class=> 'button-warning' %></span>
      </div>
    </li>
  <% end %>
</ul> 