%ul#claims-list
  - claims.each do |claim|
    %li.claim-item.panel-default
      %span.labeled-content
        %span.content-label Claim Ref #
        %span.content-block= claim.id
      %span.labeled-content
        %span.content-label
          Landlord#{"s" if claim.claimants.count>1}
        %span.content-block
          - claim.claimants.each do |claimant|
            = "#{claimant.title} #{claimant.full_name}".strip
            %br/
      %span.labeled-content
        %span.content-label
          Tenant#{"s" if claim.defendants.count>1}
        %span.content-block
          - claim.defendants.each do |defendant|
            = "#{defendant.title} #{defendant.full_name}".strip
            %br/
      %span.labeled-content
        %span.content-label Property
        %span.content-block
          = claim.address_for_possession.street_1
          %br/
          = claim.address_for_possession.street_2
          %br/
          = claim.address_for_possession.town
          %br/
          = claim.address_for_possession.postcode
          %br/
      %details#claims-item-status
        %summary
          %span#claims-item-status-label Status
          - has_personal_details = (claim.claimants.any? && !claim.claimants.first.full_name.nil?) && (claim.defendants.any? && !claim.defendants.first.full_name.nil?)
          - has_particulars = !claim.tenancy_start_date.nil?
          - has_signature = claim.signature
          - percentage = 0 + (has_personal_details ? 25:0) + (has_particulars ? 25:0) + (has_signature ? 25:0)
          %span#claims-item-status-header
            Claim form #{percentage}% complete and not yet submitted
        #claims-item-status-content
          %ul#claims-item-status-content-list
            %li{:class => "claims-item-status-item-#{(has_personal_details ? 'yes':'no')}"}
              / for now
              = succeed "Personal" do
                %span= '✔' if has_personal_details
              details
            %li{:class => "claims-item-status-item-#{(has_particulars ? 'yes':'no')}"}
              %span>= '✔' if has_particulars
              Claim particulars
            %li{:class => "claims-item-status-item-#{(has_signature ? 'yes':'no')}"}
              %span>= '✔' if has_signature
              Statement of truth
            %li.claims-item-status-item-no
              %span>
              Fees & payments
      #claim-item-action-buttons
        %span= link_to 'Continue', claim_path(claim), :class => 'button'
        %span= link_to 'Delete', delete_claim_path(claim), :class=> 'button-warning'
