= render_local_navigation

%article
  %h2 Step 2 of 6 - Case details
  %p.lead Say why you want the property back, add details of the tenancy, and attach any supporting documents.
  %section#edit-claim
    = simple_form_for @claim, url: claim_path(@claim) do |f|

      / GROUNDS FOR POSSESSION
      %section#grounds-for-possession
        %h3 Why you want the property back
        .panel-default
          .striped-choice
            %div
              = f.check_box :non_payment_of_rent
              = f.label :non_payment_of_rent, "Unpaid rent"
            %div
              = f.check_box :anti_social_behaviour
              = f.label :anti_social_behaviour, "Anti-social behaviour"
            %div
              = f.check_box :property_misuse
              = f.label :property_misuse, "Misuse of property"
            %div
              = f.check_box :other_breach_of_tenancy, :onClick => "toggle_panel(this,'other-breach');"
              = f.label :other_breach_of_tenancy, "Other breach of tenancy"
            %div#other-breach{:hidden => @claim.other_breach_of_tenancy? ? false : true}
              Please give details
              = f.text_area :other_breach, :rows => 3
          %a.fake-link More about reasons for repossession

      / STEPS ALREADY TAKEN
      %section#steps-taken
        %h3 Steps already taken
        .panel-default
          %h4 What kind of notice did you send them?

          .striped-choice
            %div
              = f.check_box :notice_to_quit, :onClick => "toggle_panel(this, 'notice-served-date');"
              = f.label :notice_to_quit, "Notice to quit"

          #notice-served-date.all-inline{:hidden => @claim.notice_to_quit? ? false : true }
            = f.input :notice_served_date, start_year: Date.today.year-5, end_year: Date.today.year, order: [:day, :month, :year], label: "Date notice served"

          .striped-choice
            %div
              = f.check_box :lease_breach
              = f.label :lease_breach, "Breach of lease"
            %div
              = f.check_box :seeking_possetion
              = f.label :seeking_possetion, "Seeking possesion"
            %div
              = f.check_box :other_recovery_steps_taken, :onClick => "toggle_panel(this,'other-recovery-steps');"
              = f.label :other_recovery_steps_taken, "Other recovery steps taken"
            %div#other-recovery-steps{:hidden => @claim.other_recovery_steps_taken? ? false : true}
              = f.text_area :other_recovery_steps, :rows => 3
              = f.label :other_recovery_steps, "Please specify"
          %a.fake-link More types of notices


        
      / ABOUT THE TENANCY
      %section#about-tenancy
        %h3 About the tenancy
        .panel-default
          .labeled-content
            .content-label
              = f.label :tenancy_type
            .content-block
              = f.input :tenancy_type, label: false, collection: [["Assured shorthold tenancy", "assured-shorhold-tenancy"], ["Assured tenancy", "assured-tenancy"], ["Regulated tenancy", "regulated-tenancy"]], selected: f.object.tenancy_type || "assured-shorhold-tenancy"
                
              %a.fake-link More about tenancy types

          = f.input :tenancy_start_date, start_year: Date.today.year-25, end_year: Date.today.year, order: [:day, :month, :year]
          
          = f.input :rental_amount, label: "Rental amount", as: :currency, required: true
  

          .rent-frequency
            %strong Rent frequency
            .striped-choice
              %div
                = f.radio_button(:payment_frequency, 'monthly', :checked =>true)
                = f.label :payment_frequency_monthly, 'Monthly'
              %div
                = f.radio_button :payment_frequency, 'fortnightly'
                = f.label :payment_frequency_fortnightly, 'Fortnightly'
              %div
                = f.radio_button :payment_frequency, 'weekly'
                = f.label :payment_frequency_week, 'Weekly'

      / RENTAL ARREARS
      = render partial: 'arrears/show', :locals => { f: f } 


      / OTHER INFORMATION
      %section#other-info
        %h3 Other information
        .panel-default
          %p Give any other information you would like the court to know about your case.
          %div
            = f.text_area :other_information, :rows => 3

          %details{:open => @claim.includes_human_rights_issues? ? true : false }
            %summary Does, or will, the claim include any issues under the human rights act 1998
            .striped-choice
              %div
                = f.check_box :includes_human_rights_issues
                = f.label :includes_human_rights_issues, "Yes, I want to claim under the human rights act"

      / SUPPORTING DOCUMENTTION
      = render partial: 'attachments/show', :locals => { f: f }
      
      = render :partial => 'shared/save_continue'
