= render_local_navigation
%article
  %h2 Step 5 of 6 - Pay court fee
  %p Enter your credit or debit card details to pay the fee for starting the court case.
  %section#fees
    #claim-fee
      %h3 Court fee
      %h1 &pound;100
    %section#grounds-for-possesion
      %h3 Payment type
      .panel-default
        .striped-choice
          %div
            %input#payment-type-credit-card{:checked => "", :name => "payment-type", :onclick => "show_payment_panel('credit-card-details')", :type => "radio"}/
            %label{:for => "payment-type-credit-card"} Pay with credit or debit card
          / credit card details
          #credit-card-details.payment-details-wrap
            .payment-details
              .labeled-content
                .content-label Card number
                .content-block.all-inline
                  %input#card-number{:type => "text"}/
              .labeled-content
                .content-label Expiry date
                #card-payment-expiry-date.content-block.all-inline
                  %select#card-payment-month
                    %option
                    %option{:value => "1"} January
                    %option{:value => "2"} February
                    %option{:value => "3"} March
                    %option{:value => "4"} April
                    %option{:value => "5"} May
                    %option{:value => "6"} June
                    %option{:value => "7"} July
                    %option{:value => "8"} August
                    %option{:value => "9"} September
                    %option{:value => "10"} October
                    %option{:value => "11"} November
                    %option{:value => "12"} December
                  %select#card-payment-year
                    %option
                      - for year in 2013..2016
                        %option{:value => year}= year
              .labeled-content
                .content-label Security code (cvs)
                .content-block.all-inline
                  %input#card-security-code{:type => "text"}/
                  %a.fake-link What's this?
              .labeled-content
                .content-label Cardholder's name
                .content-block.all-inline
                  %input#card-cardholder{:type => "text"}/
          / credit card details end
          %div
            %input#payment-type-paypal{:name => "payment-type", :onclick => "show_payment_panel('paypal-details')", :type => "radio"}/
            %label{:for => "payment-type-paypal"} Pay with PayPal
          #paypal-details.payment-details-wrap{:hidden => ""}
            .payment-details
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, magni, dolorem alias nihil ducimus sequi beatae ipsa commodi quis mollitia ullam officia veritatis molestias. Pariatur repellendus dicta assumenda. Recusandae, voluptatem.
          %div
            %input#payment-type-worldpay{:name => "payment-type", :onclick => "show_payment_panel('worldpay-details')", :type => "radio"}/
            %label{:for => "payment-type-worldpay"} Pay with WorldPay
          #worldpay-details.payment-details-wrap{:hidden => ""}
            .payment-details
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, atque, quae, fugit quidem sed voluptas nisi deserunt perferendis natus quibusdam consequuntur qui vero assumenda recusandae sit? Magni quibusdam perferendis cupiditate.
    %p.panel-info
      We will never share with anyone any of the data or details you have provided in this form.
      %br/
      For full details about out
      %a.fake-link privacy policy
      and
      = succeed "." do
        %a.fake-link terms and conditions
    .striped-choice
      .ts-and-cs
        %input#tnc-agreement{:type => "checkbox"}/
        %label{:for => "tnc-agreement"} I agree to terms and conditions of this service
    = form_for @claim do |f|
      = render partial: 'shared/save_continue', locals: {button_text: 'Make payment and submit claim'}
  