<%= render partial: 'claims/claimant/navigation' %>

<div>
  <div class="page-header">
    <h1>Step 2 of 6 - Claim particulars</h1>
  </div>

  <section id='edit-claim'>

    <p>Add all details you have about the claim and upload further information if required.</p>
    <a class="fake-link">About adding claim particulars</a>

  <%= simple_form_for @claim, url: claim_path(@claim) do |f| %>

    <article role="article">
  <!-- GROUNDS FOR POSSESSION -->
      <section id="grounds-for-possesion">
        <h3>Grounds for possession</h3>
        <div class="panel-default">
          
          <div class="striped-choice">
            <div>
              <%= f.check_box :non_payment_of_rent %>
              <%= f.label :non_payment_of_rent, "Non payment of rent" %>
            </div>
            <div>
              <%= f.check_box :anti_social_behaviour %>
              <%= f.label :anti_social_behaviour, "Anti-social behaviour" %>
            </div>
            <div>
              <%= f.check_box :property_misuse %>
              <%= f.label :property_misuse, "Misuse of property" %>
            </div>
            <div>
              <%= f.check_box :other_breach_of_tenancy, :onClick => "toggle_panel(this,'other-breach');" %>
              <%= f.label :other_breach_of_tenancy, "Other breach of tenancy" %>
            </div>
            <div id="other-breach" <%= "hidden" unless(@claim.other_breach_of_tenancy) %> >
              Please specify
              <%= f.text_area :other_breach, :rows => 3 %>
            </div>
          </div>

          <a class="fake-link">More about grounds for possession</a>
        </div>
      </section>

  <!-- STEPS ALREADY TAKEN -->
      <section id="steps-taken">
        <h3>Steps already taken</h3>
        <div class="panel-default">
          <strong>Types of notice served</strong>
          
          <div class="striped-choice">
            <div>
              <%= f.check_box :notice_to_quit, :onClick => "toggle_panel(this, 'notice-served-date');" %>
              <%= f.label :notice_to_quit, "Notice to quit" %>
            </div>
          </div>

          <!-- this should be fixed by css in striped-choice -->
          <div id="notice-served-date" class="all-inline" <%= "hidden" unless(@claim.notice_to_quit) %> >
            <!-- this should be fixed by css in all-inline -->
            <div><%= f.label :notice_served_date, "Date notice served" %></div>
            <div><%= f.date_field :notice_served_date %></div>
          </div>

          <!-- this should be fixed by css -->
          <div class="striped-choice">
            <div>
              <%= f.check_box :lease_breach %>
              <%= f.label :lease_breach, "Breach of lease" %>
            </div>
            <div>
              <%= f.check_box :seeking_possetion %>
              <%= f.label :seeking_possetion, "Seeking possesion" %>
            </div>
            <div>
              <%= f.check_box :other_recovery_steps_taken, :onClick => "toggle_panel(this,'other-recovery-steps');" %>
              <%= f.label :other_recovery_steps_taken, "Other recovery steps taken" %>
            </div>
            <div id="other-recovery-steps" <%= "hidden" unless(@claim.other_recovery_steps_taken) %> >
              <%= f.text_area :other_recovery_steps, :rows => 3 %>
              <%= f.label :other_recovery_steps, "Please specify" %>
            </div>
          </div>

          <a class="fake-link">More types of notices</a>
        </div>

      </section>


  <!-- THE NEXT STEPS -->
      <section id="next-steps">
        <h3>Next steps</h3>
        <div class="panel-default">
          <div class="striped-choice">
            <div>
              <%= f.check_box :claim_rental_arrears, :onClick => "toggle_panel(this,'rental-arrears');" %>
              <%= f.label :claim_rental_arrears, "Claim rent arrears" %>
            </div>
            <div>
              <%= f.check_box :lease_forfeiture %>
              <%= f.label :lease_forfeiture, "Forfeiture of the lease" %>
            </div>
          </div>

          <details <%= "open" if(@claim.includes_human_rights_issues) %> >
            <summary>Does, or will, the claim include any issues under the human rights act 1998</summary>
            <div class="striped-choice">
              <div>
                <%= f.check_box :includes_human_rights_issues %>
                <%= f.label :includes_human_rights_issues, "Yes, I want to claim under the human rights act" %>
              </div>
            </div>
          </details>

        </div>
      </section>

  <!-- ABOUT THE TENANCY -->
      <section id="about-tenancy">
        <h3>About the tenancy</h3>
        <div class="panel-default">
          
          <div class="labeled-content">
            <div class="content-label">
              <%= f.label :tenancy_type %>
            </div>
            <div class="content-block">
              <%= f.input :tenancy_type, 
                label: false, 
                collection: ["Assured shorthold tenancy","Assured tenancy","Regulated tenancy"],
                selected: "Assured shorthold" %>
                
                <a class="fake-link">More about tenancy types</a>
              </div>
          </div>

          <div class="labeled-content">
            <div class="content-label"><%= f.label :tenancy_start_date%></div>
            <div class="content-block">
              <%= f.date_field :tenancy_start_date, :label => false %>
            </div>
          </div>

          <div class="labeled-content">
            <div class="content-label"><%= f.label :rental_amount%></div>
            <div class="content">
              <div class="money-input">
                <strong>&pound</strong>
                <div>
                  <%= f.text_field :rental_amount, :label => false,required: true %>
                </div>
            </div>
            </div>
          </div>

          <div>
            <strong>Rent frequency</strong>
            <div class="striped-choice">
              <div>
                <%= f.radio_button(:payment_frequency, 'monthly') %>
                <%= f.label :payment_frequency_monthly, 'Monthly' %>
              </div>
              <div>
                <%= f.radio_button :payment_frequency, 'fortnightly' %>
                <%= f.label :payment_frequency_fortnightly, 'Fortnightly' %>
              </div>
              <div>
                <%= f.radio_button :payment_frequency, 'week' %>
                <%= f.label :payment_frequency_week, 'Week' %>
              </div>
            </div>

          </div>
        </div>
      </section>

  <!-- RENTAL ARREARS -->
      <%= render partial: 'arrears/show', :locals => { f: f } %>


  <!-- OTHER INFORMATION -->
      <section>
        <h3>Other information</h3>
        <div class="panel-default">
          <p>Any other information you would like to give about the claim</p>
          <%= f.text_area :other_information, :rows => 3 %>
        </diV>
      </section>

  <!-- SUPPORTING DOCUMENTTION -->
      <%= render partial: 'attachments/show', :locals => { f: f } %>
      
      <div class="save-close-panel">
        <%= f.submit 'Save & Continue', :class => 'button' %>
        <a href="/" class="button-secondary">Close</a>
      </div>

    </article>
    <% end %>

  </section>
</div>



