<%= render partial: 'claims/claimant/navigation' %>

<div class='row'>
  <div class="page-header">
    <h1>Step 2 of 6 - Claim particulars</h1>
  </div>

  <section id='edit-claim'>

    <p>Add all details you have about the claim and upload further information if required.</p>
    <a href='#'>About adding claim particulars</a>



  <%= form_for @claim, url: claim_path(@claim) do |f| %>

    <%= render partial: 'arrears/show', :locals => { f: f } %>
    <%= render partial: 'attachments/show', :locals => { f: f } %>

    <%= f.submit 'Save & Continue', :class => 'button medium' %>

    <% end %>

  </section>
</div>



