<%= render_claimant_navigation %>

<div class='row'>
  <div class="page-header">
    <h2>Step 1 of 6 - Personal details</h2>
  </div>

  <section id='edit-claim'>
    <p>Add the details of the landlord, tenant and the property you want to repossess.</p>
    <%= toggle_inline_help_link( 
      'About claimants and defendants', 
      'Porro nihil nec cu. Ut ludus omnium dissentiunt mei, his at populo semper. Eu iusto tibique pri, ad sit modo antiopam maiestatis, commune delicata dissentias vel ea. An has odio habemus ancillae, an per animal fastidii tacimates, duo tritani mandamus delicatissimi ex.'
    ) %>

    <div class='row'>

      <h3>Landlord details</h3>
      <%= render :partial => 'people/display', :locals => {claim: @claim, person_type: 'claimant'} %>

      <h3>Tenant details</h3>
      <%= render :partial => 'people/display', :locals => {claim: @claim, person_type: 'defendant'} %>

      <h3>Address for possession</h3>
      <% address = @claim.address_for_possession %>
      <% options = { :show_edit_link => true } %>
      <% if address.postcode.blank? %> 
        <%= render :partial => 'addresses/edit_address_for_possession', :locals => { claim: @claim, address: address } %>
      <% else %>
        <%= render :partial => 'addresses/view_address_for_possession', :locals => { claim: @claim, address: address, options: options } %>
      <% end %>

      <%= form_for @claim do |f| %>
        <%= render :partial => 'claims/claimant/save_continue', :locals => {f: f} %>
      <% end %>
    </div>
  </section>
</div>