<%= render partial: 'claims/claimant/navigation' %>

<div class='row'>
  <div class="page-header">
    <h2>Step 1 of 6 - Personal details</h2>
  </div>

  <section id='edit-claim'>
    <p>Add the details of the claimants and defendants involved in the possession claim</p>
    <%= toggle_inline_help_link( 
      'About claimants and defendants', 
      'Bacon ipsum dolor sit amet beef boudin pork belly pancetta, t-bone ground round shoulder chuck andouille bresaola doner drumstick. Pork loin jerky doner swine boudin ball tip pork belly. Beef ribs frankfurter turducken short ribs corned beef, t-bone capicola pork belly brisket venison spare ribs ball tip chicken rump swine. Bresaola tongue short ribs t-bone jerky.'
    ) %>

    <div class='row'>

      <h3>Who is the Claimant in this claim?</h3>
      <%= render :partial => 'people/display', :locals => {claim: @claim, person_type: 'claimant'} %>

      <h3>Who are the Defendants in this claim?</h3>
      <%= render :partial => 'people/display', :locals => {claim: @claim, person_type: 'defendant'} %>

      <h3>Address for possession</h3>
      <% address = @claim.address_for_possession %>
      <% options = { :show_edit_link => true } %>
      <% if address.postcode.blank? %> 
        <%= render :partial => 'addresses/edit_address_for_possession', :locals => { claim: @claim, address: address } %>
      <% else %>
        <%= render :partial => 'addresses/view_address_for_possession', :locals => { claim: @claim, address: address, options: options } %>
      <% end %>
    </div>
  </section>
</div>