= render_claimant_navigation
%article
  %h2 Step 3 of 6 - Court scheduling
  %p Based on court availability and the postcode you are claiming possession of, your hearing will take place in the following court or tribunal on the following day.
  
  %section.moj-panel
    = render partial: 'claims/shared/scheduled_hearing'
  %section.moj-panel
    = render partial: 'shared/lambeth_court'

  = form_for @claim do |f|
    = render partial: 'claims/claimant/save_continue', locals: {f: f}
