<%= render_claimant_navigation %>

<div class='row'>
  <div class="page-header">
    <h1>Step 3 of 6 - Court scheduling</h1>
  </div>

  <p>Based on court availability and the postcode you are claiming possession of, your hearing will take place in the following court or tribunal on the following day.</p>

  <% date = (Date.today + 6.weeks).strftime("%A %-d %B %Y") %>
  <h2 class="info-notice moj-panel"><%= date %> at 10:30am</h2>

  <%= render :partial => 'shared/lambeth_court' %>
  
  <%= form_for @claim do |f| %>
    <%= render :partial => 'claims/claimant/save_continue', :locals => {f: f} %>
  <% end %>
  
</div>

