= render_local_navigation

%article
  %h2 Step 4 of 6 - Confirm details
  %p Please read through the information you have provided to ensure it’s all correct. 
  %section#statement-of-truth
    %h2 Landlord/s
    - @claim.claimants.each do |claimant|
      - options = {}
      - options[:class] = 'claimant'
      = render :partial => 'people/show', :locals => { person: claimant, options: options, claim: @claim }

    %h2 Tenant/s
    - @claim.defendants.each do |defendant|
      - options = {}
      - options[:class] = 'defendant'
      = render :partial => 'people/show', :locals => { person: defendant, options: options, claim: @claim }

    %h2 Property details
    - address = @claim.address_for_possession
    - options = {}
    = render :partial => 'addresses/address_for_possession/view', :locals => { claim: @claim, address: address, options: options }

    %h2 Case details
    - options = { class: 'vertical' }
    = render partial: 'claims/shared/particulars/view', locals: { claim: @claim, options: options }

    = simple_form_for @claim, :class => 'form-horizontal' do |f|
      = f.input :signature, :label => "I believe that the facts stated in this claim (and any attached documents) are to the best of my knowledge true and correct."
      .well.warning
        %p
          / quote character rendered as warning sign using font "validators"
          %span &quot;
          A person who completes a statement of truth without an honest belief in the truth of the given information is liable to proceedings for contempt of court.
      = render :partial => 'shared/save_continue'
