<%= render partial: 'claims/claimant/navigation' %>

<div class="page-header">
  <h1>4. Statement of truth</h1>
</div>

<p>Please read through all the information that you have provided and ensure that to the best of your knowledge it is all correct.</p>
<p>If anything is incorrect please go to the relevent section and update it.</p>

<div class='panel'>
  <h4>Details of claim</h4>
  <% @claim.claimants.each do |claimant| %>
    <div class='well clearfix'>
      <h5>Claimant</h5>
      <%= render :partial => 'people/show', :locals => { person: claimant } %>
    </div>
  <% end %>

  <h2 class='center'>vs</h2>

  <% @claim.defendants.each do |defendant| %>
    <div class='well clearfix'>
      <h5>Defendant</h5>
      <%= render :partial => 'people/show', :locals => { person: defendant } %>
    </div>
  <% end %>

  <div class='well clearfix address'>
    <h5>Property to be recovered</h5>
    <%= render :partial => 'addresses/show', :locals => { address: @claim.address_for_possession } %>
  </div>

  <%= form_for @claim, url: claim_path(@claim) do |f| %>
  <% end %>
</div>
