<%= render partial: 'claims/claimant/navigation' %>

<div class='row'>
  <div class="page-header">
    <h1>Step 4 of 6 - Statement of truth</h1>
  </div>

  <p>Please read through all the information that you have provided and ensure that to the best of your knowledge it is all correct. If anything is incorrect please go to the relevent section and update it.</p>

  <div class='row' id='statement-of-truth'>
    <h2>Landlord/s</h2>
    <% @claim.claimants.each do |claimant| %>
      <% options = {} %>
      <% options[:class] = 'claimant person well clearfix no-edit' %>
      <%= render :partial => 'people/show', :locals => { person: claimant, options: options, claim: @claim } %>
    <% end %>

    <h2>Tenant/s</h2>
    <% @claim.defendants.each do |defendant| %>
      <% options = {} %>
      <% options[:class] = 'defendant person well clearfix' %>
      <%= render :partial => 'people/show', :locals => { person: defendant, options: options, claim: @claim } %>
    <% end %>


    <h2>Address for possession</h2>
    <% address = @claim.address_for_possession %>
    <% options = {} %>
    <%= render :partial => 'addresses/view_address_for_possession', :locals => { claim: @claim, address: address, options: options } %>

    <h2>Claim particulars</h2>
    <div class='person well clearfix particulars'>
      <h4>Grounds for possession</h4>
      <% if @claim.non_payment_of_rent %>
        <span>Non payment of rent</span>
      <% end %>
      <% if @claim.anti_social_behaviour %>
        <span>Anti-social behaviour</span>
      <% end %>
      <% if @claim.property_misuse %>
        <span>Property misuse</span>
      <% end %>
      <% if @claim.other_breach_of_tenancy %>
        <span>Other breach of tenancy: <%= @claim.other_breach %></span>
      <% end %>

      <% if @claim.notice_to_quit %>
      <h4>Notices served</h4>
      <span>Notice to quit served on <%= @claim.notice_served_date.strftime('%e %B %Y') %></span>
      <% end %>

      <h4>Tenancy type</h4>
      <span><%= @claim.tenancy_type %></span>

      <h4>Tenancy start date</h4>
      <span><%= @claim.tenancy_start_date.strftime('%e %B %Y') %></span>

      <h4>Rental amount</h4>
      <span>&pound;<%= @claim.rental_amount.to_s %> per <%= @claim.payment_frequency %></span>
    </div>


    <%= simple_form_for @claim, :url => update_claim_path(@claim), :class => 'form-horizontal' do |f| %>
      <div class='panel'>
        <div class='panel'>
          <%= f.check_box(:signature) %>
          <%= label_tag(:signature, "I believe that the facts stated in this claim (and any attached documents) are to the best of my knowledge true and correct.") %>
        </div>
        <div class="alert alert-danger">
          <p>A person who completes a statement of truth without an honest belief in the truth of the given information is liable to proceedings for contempt of court.</p>
        </div>
      </div>

      <%= f.submit "Save & Continue", :class => 'button' %>
      <%= f.submit :Cancel, :class => 'button-secondary' %>
    <% end %>

  </div>
</div>