<% options ||= {} %>
<% address_blank = (address.street_1.nil? || address.street_1.empty?) %>
<% show_full_address = options.has_key?(:just_the_address_fields) || address.show_editor || !address_blank %>

<% if options.has_key?(:just_the_address_fields) %>
  <div id='address-<%= address.id %>-inner' class='expanda'>
<% else %>
  <div id='address-<%= address.id %>' class='address-container'>
<% end %>

  <%= simple_fields_for( address ) do |f| %>
    
    <%# Same Address As ... link %>
    <% unless show_full_address %>
      <% if options.has_key? :not_the_first %>
        <%= link_to "Same address as first #{person.type.titleize}", copy_address_of_first_claim_person_address_path( claim, person, address ), :remote => true, :class => 'copy-address' %>
      <% end %>
    <% end %>

    <%# Full address %>
    <% if show_full_address %>
      <%= f.input :street_1 do %>
        <%= f.input_field :street_1, :label => 'Street' %>
        <span class='icon-container' style='display:none' />
      <% end %>

      <%= f.input :street_2 do %>
        <%= f.input_field :street_2, :label => ' ' %>
      <% end %>

      <%= f.input :street_3 do %>
        <%= f.input_field :street_3, :label => ' ' %>
      <% end %>
      <%= f.input :town %>
      <%= f.input :county %>
    <% end %>


    <%# Postcode field and 'Find UK Address' button %>
    <% unless options.has_key? :just_the_address_fields %>
      <%= f.input :postcode do %>
        <%= f.input_field :postcode, class: 'postcode', required: true %>
        <span class='icon-container' style='display:none'></span>
        <% classes = 'button-secondary find-uk-address' %>
        <% classes << ' disabled' if address.postcode.blank? %>
        <%= link_to 'Find UK Address', '/address/picker', :class => classes %>
      <% end %>
    <% end %>

    <% unless show_full_address %> 

      <%# Pick an address %>
      <% if !(address.postcode.nil? || address.postcode.empty?) %>
        <%= render :partial => 'addresses/picker', :format => [:html], :locals => { address: address} %>
      <% end %>

      <%# Enter Address Manaually link %>
      <% if options.has_key? :address_for_possession %>
        <% manual_url = claim_address_editor_path( claim, address ) %>
      <% else %>
        <% manual_url = editor_claim_person_address_path( claim, person, address ) %>
      <% end %>
      <%= link_to 'Enter address manually', manual_url , :remote => true, :class => 'manual-address' %>
    <% end %>
  <% end %>
</div>