<% if address.street_1 %><span class='address'><%= address.street_1 %></span><% end %>
<% if address.street_2 %><span class='address'><%= address.street_2 %></span><% end %>
<% if address.street_3 %><span class='address'><%= address.street_3 %></span><% end %>
<% if address.town %><span class='address'><%= address.town %></span><% end %>
<% if address.county %><span class='address'><%= address.county %></span><% end %>
<% if address.postcode %><span class='address'><%= address.postcode %></span><% end %>