<div class='address-for-possession person well' id='address-<%= address.id %>'>
  <div class='address-linear'>
    <%= render :partial => 'addresses/show', :locals => {address: address} %>
  </div>
  <% unless claim.property_type.blank? %><div><%= claim.property_type.titleize %> property</div><% end %>
  <% unless claim.resident_type.blank? %><div><%= claim.resident_type.humanize %></div><% end %>
  <% if options.has_key? :show_edit_link %>
    <div>
      <%= link_to "View/edit details", claim_address_editor_url( claim, address ), :remote => true  %>
    </div>
  <% end %>
</div>