%div{ class: "moj-panel particulars-#{options[:class]}" }
  - grounds = claim.grounds_for_possesion
  - if grounds.size > 0
    %h4 Why the property is being repossessed
    - grounds.each do |g|
      %span= g

  - if @claim.notice_to_quit
    %h4 Notices given
    %span= "Notice to quit served on #{claim.notice_served_date.strftime('%e %B %Y')}"

  - if @claim.tenancy_type
    %h4 Tenancy type
    %span= claim.tenancy_type.humanize.gsub(/-/, ' ')

  - if claim.tenancy_start_date
    %h4 Tenancy start date
    %span= claim.tenancy_start_date.strftime('%e %B %Y')

  - if claim.rental_amount
    %h4 Rental amount
    %span
      = "&pound;#{pp_currency(claim.rental_amount)} #{claim.payment_frequency}".html_safe
      - unless claim.unpaid_rent_per_day.blank?
        %br
        = "&pound;#{pp_currency(claim.unpaid_rent_per_day)} per day".html_safe

  - if claim.total_rental_arrears
    %h4 Rental arrears
    %span= "&pound;#{pp_currency(claim.total_rental_arrears)}".html_safe

  %h4 Case cost
  %span 
    £100 
    - if claim.defendent_to_pay_for_claim 
      (request for tenant to pay) 

