= render_local_navigation

%article
  %h2 Step 3 of 5 - About you
  %p.lead An opportunity to tell the courts about your financial situation, the more information you can provide, the more opportunity for you to get help and guidance.

  = simple_form_for @defense, :url => { :action => "update" } do |f|
    
    / BANK ACCOUNTS
    %section
      %h3 Bank accounts
      .moj-panel
        %p What are the balance of your bank accounts?
        .labeled-content
          .content-label
            %label{:for => 'current-account'} Current account
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :current_account_balance, :label => false, as: :string, :input_html => {:id => 'current-account', :class => 'small'}
              .help-text
                If overdrawn add a minus.
                %br/
                E.g. -20 for &pound;20 overdrawn
            .clear
              = f.input :dont_have_current_account, label: "I don't have a current account", :wrapper_html => {:class => 'reversed'}
        .labeled-content
          .content-label
            %label{:for => 'savings-account'} Savings account
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :savings_account_balance, :label => false, as: :string, :input_html => {:id => 'savings-account', :class => 'small'}
            .clear
              = f.input :dont_have_savings_account, label: "I don't have a savings account", :wrapper_html => {:class => 'reversed'}
    / MONEY IN
    %section
      %h3 Money in
      .moj-panel
        %p What are your present circumstances?
        = f.input :employed, label: "Employed", :wrapper_html => {:class => 'reversed'}
        = f.input :universal_credit, label: "Universal credit", :wrapper_html => {:class => 'reversed'}
        = f.input :no_income, label: "No income", :wrapper_html => {:class => 'reversed'}

        .striped-choice
          %div
            %input#moneyin-receiving{:type => "checkbox"}
            %label{:for => "moneyin-receiving"}
              Universal credit
              %span.supplementary (applied for or receiving)
          %div
            %input#moneyin-noincome{:type => "checkbox"}/
            %label{:for => "moneyin-noincome"} No income

        %p Please provide all figures of the money coming in per month
        .labeled-content
          .content-label
            %label{:for => 'moneyin-income'} Income
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :income, :label => false, as: :string, :input_html => {:id => 'moneyin-income', :class => 'small'}
        .labeled-content
          .content-label
            %label{:for => 'moneyin-pension'} Pension
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :pension, :label => false, as: :string, :input_html => {:id => 'moneyin-pension', :class => 'small'}
        .labeled-content
          .content-label
            %label{:for => 'moneyin-childbenefit'} Child benefit
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :child_benefit, :label => false, as: :string, :input_html => {:id => 'moneyin-childbenefit', :class => 'small'}
        .labeled-content
          .content-label
            %label{:for => 'moneyin-other'} Other money in
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :other_monies_in, :label => false, as: :string, :input_html => {:id => 'moneyin-other', :class => 'small'}
        .labeled-content
          .content-label
            %strong Total money in
          .content
            %strong
              &pound;
              1,850 per month

    %section
      %h3 Money out
      .moj-panel
        %p
          Regular expenses &ndash; List all of your regular monthly outgoings
          %br/
          %span.supplementary (does not include any payments made by other members of your household)
        .labeled-content
          .content-label
            %label{:for => 'moneyout-counciltax'} Council tax
          .content
            .money-input
              %strong &pound;
              %div
                %input#moneyout-counciltax.small{:type => 'text'}
        .labeled-content
          .content-label
            %label{:for => 'moneyout-gas'} Gas
          .content
            .money-input
              %strong &pound;
              %div
                %input#moneyout-gas.small{:type => 'text'}
        .labeled-content
          .content-label
            %label{:for => 'moneyout-electricity'} Electricity
          .content
            .money-input
              %strong &pound;
              %div
                %input#moneyout-electricity.small{:type => 'text'}
        .labeled-content
          .content-label
            %label{:for => 'moneyout-water'} Water
          .content
            .money-input
              %strong &pound;
              %div
                %input#moneyout-water.small{:type => 'text'}


    = render :partial => 'claims/defence/save_continue', :locals => {f: f}
