= render_local_navigation

%article
  %h2 Step 3 of 5 - About you
  %p.lead An opportunity to tell the courts about your financial situation, the more information you can provide, the more opportunity for you to get help and guidance.

  = simple_form_for @defense, :url => { :action => "update" } do |f|
    / CIRCUMSTANCES
    %section#circumstances
      %h3 Circumstances
      .moj-panel
        = f.label :details_of_circumstances, "Give details of any circumstances which led to you being in arrears of rent. If you can tell us about problems like divorce, separation, redundancy, bereavement, illness or bankrupcy it will help us fully understand the defence. Also provide any other reason why you think any date for repossession should be delayed.", :class => 'defense-circumstances'
        = f.input :details_of_circumstances, label: false, :input_html => { :rows => 5 }

        .panel-component
          %p If an order for repossession was to be made would you have somewhere else to live?
          .striped-choice
            %div
              = f.radio_button :has_somewhere_else_to_live, 'true', :class => "js-panel-component-details-show"
              = f.label :has_somewhere_else_to_live_true, 'Yes'
            %div
              = f.radio_button :has_somewhere_else_to_live, 'false', :class => "js-panel-component-details-hide"
              = f.label :has_somewhere_else_to_live_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.has_somewhere_else_to_live) }
            %label{ :for => "move-in-date-for-other-property" } When would you be able to move in?
            = f.input :move_in_date_for_other_property, label: false, :input_html => { :id =>"move-in-date-for-other-property" }
    
    / BANK ACCOUNTS
    %section#bank-accounts
      %h3 Bank accounts
      .moj-panel
        %p What are the balance of your bank accounts?
        .labeled-content
          .content-label
            %label{:for => 'current-account'} Current account
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :current_account_balance, :label => false, as: :string, :input_html => {:id => 'current-account', :class => 'small'}
              .help-text
                If overdrawn add a minus.
                %br/
                E.g. -20 for &pound;20 overdrawn
            .clear
              = f.input :dont_have_current_account, label: "I don't have a current account", :wrapper_html => {:class => 'reversed'}
        

        .labeled-content
          .content-label
            %label{:for => 'savings-account'} Savings account
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :savings_account_balance, :label => false, as: :string, :input_html => {:id => 'savings-account', :class => 'small'}
            .clear
              = f.input :dont_have_savings_account, label: "I don't have a savings account", :wrapper_html => {:class => 'reversed'}
    / MONEY IN
    %section#money-in
      %h3 Money in
      .moj-panel
        %p What are your present circumstances?
        .striped-choice
          %div
            = f.radio_button(:present_circumstances, 'employed')
            = f.label :present_circumstances_employed, 'Employed'
          %div
            = f.radio_button :present_circumstances, 'universal_credit'
            = f.label :present_circumstances_universal_credit, 'Universal credit'
          %div
            = f.radio_button :present_circumstances, 'no_income'
            = f.label :present_circumstances_no_income, 'No income'

        %p Please provide all figures of the money coming in per month
        = f.input :income, :label => "Income", as: :currency, :input_html => {:class => 'small'}
        = f.input :pension, :label => "Pension", as: :currency, :input_html => {:class => 'small'}
        = f.input :child_benefit, :label => "Child benefit", as: :currency, :input_html => {:class => 'small'}
        = f.input :other_monies_in, :label => "Other money in", as: :currency, :input_html => {:class => 'small'}

        .labeled-content
          .content-label
            %strong Total money in
          .content
            %strong
              &pound;
              1,850 per month
    
    / MONEY OUT
    %section#money-out
      %h3 Money out
      .moj-panel
        %p
          Regular expenses &ndash; List all of your regular monthly outgoings
          %br/
          %span.supplementary (does not include any payments made by other members of your household)
        = f.simple_fields_for :monthly_expenses do |fmexp|
          = fmexp.input :amount, :label => fmexp.object.name, as: :currency, :input_html => {:class => 'small'}
        %span.button Add another expense
        
        .panel-component
          %p Are you in arrears on any regular monthly outgoings?
          .striped-choice
            %div
              = f.radio_button :in_arrears_in_monthly_outgoings, 'true', :class => "js-panel-component-details-show"
              = f.label :in_arrears_in_monthly_outgoings_true, 'Yes'
            %div
              = f.radio_button :in_arrears_in_monthly_outgoings, 'false', :class => "js-panel-component-details-hide"
              = f.label :in_arrears_in_monthly_outgoings_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.in_arrears_in_monthly_outgoings) }
            .form-row.clearfix 
              %label.control-label{ :for => "money-out-arrears-arrear" } Arrear
              %input.string.small{ :id => "money-out-arrears-arrear", :type => "text" }
            
            .form-row.clearfix.currency
              %label.currency.control-label{ :for => "money-out-arrears-balance" } Balance
              %strong &pound
              %input.string.currency.small{ :id => "money-out-arrears-balance", :type => "currency"}

            .form-row.clearfix.currency
              %label.currency.control-label{ :for => "money-out-arrears-costpermonth" } Cost per month
              %strong &pound
              %input.string.currency.small{ :id => "money-out-arrears-costpermonth", :type => "currency"}
            %span.button Add another arrear

        .panel-component
          %p Do you have any loan or credits debts?
          .striped-choice
            %div
              = f.radio_button :loans_or_credit_cards, 'true', :class => "js-panel-component-details-show"
              = f.label :loans_or_credit_cards_true, 'Yes'
            %div
              = f.radio_button :loans_or_credit_cards, 'false', :class => "js-panel-component-details-hide"
              = f.label :loans_or_credit_cards_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.loans_or_credit_cards) }
            .form-row.clearfix
              %label.control-label{ :for => "money-out-loans-loancreditcard" } Loan/credit card
              %input.string.small{ :id => "money-out-loans-loancreditcard", :type => "text" }
            
            .form-row.clearfix.currency
              %label.currency.control-label{ :for => "money-out-loans-balance" } Balance
              %strong &pound
              %input.string.currency.small{ :id => "money-out-loans-balance", :type => "currency"}

            .form-row.clearfix.currency
              %label.currency.control-label{ :for => "money-out-loans-costpermonth" } Cost per month
              %strong &pound
              %input.string.currency.small{ :id => "money-out-loans-costpermonth", :type => "currency"}
            %span.button Add another debt

            .panel-component
              %p Are you in arrears on these fines?
              .striped-choice
                %div
                  = f.radio_button :loans_arrears, 'true', :class => "js-panel-component-details-show"
                  = f.label :loans_arrears_true, 'Yes'
                %div
                  = f.radio_button :loans_arrears, 'false', :class => "js-panel-component-details-hide"
                  = f.label :loans_arrears_false, "No"
              .component-details{ :class => ('element-invisible' unless @defense.loans_arrears) }
                = f.label :loans_arrears_details, "Please give details"
                = f.input :loans_arrears_details, label: false, :input_html => { :rows => 5 }

        .panel-component
          %p Are you currently paying any court orders or fines?
          .striped-choice
            %div
              = f.radio_button :currently_paying_court_orders_or_fines, 'true', :class => "js-panel-component-details-show"
              = f.label :currently_paying_court_orders_or_fines_true, 'Yes'
            %div
              = f.radio_button :currently_paying_court_orders_or_fines, 'false', :class => "js-panel-component-details-hide"
              = f.label :currently_paying_court_orders_or_fines_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.currently_paying_court_orders_or_fines) }
            .form-row.clearfix
              %label.control-label{ :for => "money-out-ordersfines-caseno" } Case no.
              %input.string.small{ :id => "money-out-ordersfines-caseno", :type => "text" }
            
            .form-row.clearfix.currency
              %label.currency.control-label{ :for => "money-out-ordersfines-balance" } Balance
              %strong &pound
              %input.string.currency.small{ :id => "money-out-ordersfines-balance", :type => "currency"}

            .form-row.clearfix.currency
              %label.currency.control-label{ :for => "money-out-ordersfines-costpermonth" } Cost per month
              %strong &pound
              %input.string.currency.small{ :id => "money-out-ordersfines-costpermonth", :type => "currency"}
            %span.button Add another court order or fine

            .panel-component
              %p Are you in arrears on these fines?
              .striped-choice
                %div
                  = f.radio_button :behind_on_fine_payments, 'true', :class => "js-panel-component-details-show"
                  = f.label :behind_on_fine_payments_true, 'Yes'
                %div
                  = f.radio_button :behind_on_fine_payments, 'false', :class => "js-panel-component-details-hide"
                  = f.label :behind_on_fine_payments_false, "No"
              .component-details{ :class => ('element-invisible' unless @defense.behind_on_fine_payments) }
                = f.label :fine_payments_details, "Please give details"
                = f.input :fine_payments_details, label: false, :input_html => { :rows => 5 }
        
        .labeled-content
          .content-label
            %strong Total money out
          .content
            %strong
              &pound;
              1,850 per month

    / DEPENDANTS
    %section
      %h3 Dependants
      .moj-panel
        .panel-component
          %p Have you got any dependant children?
          .striped-choice
            %div
              = f.radio_button :has_dependent_children, 'true', :class => "js-panel-component-details-show"
              = f.label :has_dependent_children_true, 'Yes'
            %div
              = f.radio_button :has_dependent_children, 'false', :class => "js-panel-component-details-hide"
              = f.label :has_dependent_children_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.has_dependent_children) }
            .form-row
              %label Children
              = f.input :dependents_under_11, collection: 0..7, priority: 0, include_blank: false, label: "Under 11yrs"
              = f.input :dependents_11_to_15, collection: 0..7, priority: 0, include_blank: false, label: "11-15yrs"
              = f.input :dependents_16_to_17, collection: 0..7, priority: 0, include_blank: false, label: "16-17yrs"
              = f.input :dependents_18_and_over, collection: 0..7, priority: 0, include_blank: false, label: "18yrs and over"
              
        .panel-component
          %p Are there any other dependants in the property you are responsible for?
          .striped-choice
            %div
              = f.radio_button :has_other_dependents, 'true', :class => "js-panel-component-details-show"
              = f.label :has_other_dependents_true, 'Yes'
            %div
              = f.radio_button :has_other_dependents, 'false', :class => "js-panel-component-details-hide"
              = f.label :has_other_dependents_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.has_other_dependents) }
            = f.label :details_of_other_dependents, "Please give details"
            = f.input :details_of_other_dependents, label: false, :input_html => { :rows => 5 }

    
    / SUPPORTING DOCUMENTATION
    %section#support-doc
      %h3 Supporting documentation
      .moj-panel
        %p Attach any documentation to support your defense
        %p 
          %a.fake-link About supporting documentation
        %span.button Attach documents


    = render :partial => 'shared/save_continue'
