= render_local_navigation

%article
  %h2 Step 3 of 5 - About you
  %p.lead An opportunity to tell the courts about your financial situation, the more information you can provide, the more opportunity for you to get help and guidance.

  = simple_form_for @defense, :url => { :action => "update" } do |f|
    
    / BANK ACCOUNTS
    %section
      %h3 Bank accounts
      .moj-panel
        %p What are the balance of your bank accounts?
        .labeled-content
          .content-label
            %label{:for => 'current-account'} Current account
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :current_account_balance, :label => false, as: :string, :input_html => {:id => 'current-account', :class => 'small'}
              .help-text
                If overdrawn add a minus.
                %br/
                E.g. -20 for &pound;20 overdrawn
            .clear
              = f.input :dont_have_current_account, label: "I don't have a current account", :wrapper_html => {:class => 'reversed'}
        .labeled-content
          .content-label
            %label{:for => 'savings-account'} Savings account
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :savings_account_balance, :label => false, as: :string, :input_html => {:id => 'savings-account', :class => 'small'}
            .clear
              = f.input :dont_have_savings_account, label: "I don't have a savings account", :wrapper_html => {:class => 'reversed'}
    / MONEY IN
    %section
      %h3 Money in
      .moj-panel
        %p What are your present circumstances?
        = f.input :employed, label: "Employed", :wrapper_html => {:class => 'reversed'}
        = f.input :universal_credit, label: "Universal credit", :wrapper_html => {:class => 'reversed'}
        = f.input :no_income, label: "No income", :wrapper_html => {:class => 'reversed'}

        .striped-choice
          %div
            %input#moneyin-receiving{:type => "checkbox"}
            %label{:for => "moneyin-receiving"}
              Universal credit
              %span.supplementary (applied for or receiving)
          %div
            %input#moneyin-noincome{:type => "checkbox"}/
            %label{:for => "moneyin-noincome"} No income

        %p Please provide all figures of the money coming in per month
        .labeled-content
          .content-label
            %label{:for => 'moneyin-income'} Income
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :income, :label => false, as: :string, :input_html => {:id => 'moneyin-income', :class => 'small'}
        .labeled-content
          .content-label
            %label{:for => 'moneyin-pension'} Pension
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :pension, :label => false, as: :string, :input_html => {:id => 'moneyin-pension', :class => 'small'}
        .labeled-content
          .content-label
            %label{:for => 'moneyin-childbenefit'} Child benefit
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :child_benefit, :label => false, as: :string, :input_html => {:id => 'moneyin-childbenefit', :class => 'small'}
        .labeled-content
          .content-label
            %label{:for => 'moneyin-other'} Other money in
          .content
            .money-input
              %strong &pound;
              %div
                = f.input :other_monies_in, :label => false, as: :string, :input_html => {:id => 'moneyin-other', :class => 'small'}
        .labeled-content
          .content-label
            %strong Total money in
          .content
            %strong
              &pound;
              1,850 per month
    
    / MONEY OUT
    %section
      %h3 Money out
      .moj-panel
        %p
          Regular expenses &ndash; List all of your regular monthly outgoings
          %br/
          %span.supplementary (does not include any payments made by other members of your household)
        = f.simple_fields_for :monthly_expenses do |fmexp|
          .labeled-content
            .content-label
              %label{:for => 'money-out-expense-'+fmexp.object.id.to_s} 
                = fmexp.object.name
            .content
              .money-input
                %strong &pound;
                %div
                  = fmexp.input :amount, :label => false, as: :string, :input_html => {:id => 'money-out-expense-'+fmexp.object.id.to_s, :class => 'small'}
                  
        %span.button Add another expense
        
        .panel-component
          %p Are you in arrears on any regular monthly outgoings?
          .striped-choice
            %div
              = f.radio_button :in_arrears_in_monthly_outgoings, 'true', :class => "js-panel-component-details-show"
              = f.label :in_arrears_in_monthly_outgoings_true, 'Yes'
            %div
              = f.radio_button :in_arrears_in_monthly_outgoings, 'false', :class => "js-panel-component-details-hide"
              = f.label :in_arrears_in_monthly_outgoings_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.in_arrears_in_monthly_outgoings) }
            %h5 boom

        .panel-component
          %p Do you have any loan or credits debts?
          .striped-choice
            %div
              = f.radio_button :loans_or_credit_cards, 'true', :class => "js-panel-component-details-show"
              = f.label :loans_or_credit_cards_true, 'Yes'
            %div
              = f.radio_button :loans_or_credit_cards, 'false', :class => "js-panel-component-details-hide"
              = f.label :loans_or_credit_cards_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.loans_or_credit_cards) }
            %h5 boom

        .panel-component
          %p Are you currently paying any court orders or fines?
          .striped-choice
            %div
              = f.radio_button :currently_paying_court_orders_or_fines, 'true', :class => "js-panel-component-details-show"
              = f.label :currently_paying_court_orders_or_fines_true, 'Yes'
            %div
              = f.radio_button :currently_paying_court_orders_or_fines, 'false', :class => "js-panel-component-details-hide"
              = f.label :currently_paying_court_orders_or_fines_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.currently_paying_court_orders_or_fines) }
            %h5 boom
        
        .labeled-content
          .content-label
            %strong Total money out
          .content
            %strong
              &pound;
              1,850 per month

    / MONEY OUT
    %section
      %h3 Dependants
      .moj-panel
        .panel-component
          %p Have you got any dependant children?
          .striped-choice
            %div
              = f.radio_button :has_dependent_children, 'true', :class => "js-panel-component-details-show"
              = f.label :has_dependent_children_true, 'Yes'
            %div
              = f.radio_button :has_dependent_children, 'false', :class => "js-panel-component-details-hide"
              = f.label :has_dependent_children_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.has_dependent_children) }
            %h5 boom

        .panel-component
          %p Are there any other dependants in the property you are responsible for?
          .striped-choice
            %div
              = f.radio_button :has_other_dependents, 'true', :class => "js-panel-component-details-show"
              = f.label :has_other_dependents_true, 'Yes'
            %div
              = f.radio_button :has_other_dependents, 'false', :class => "js-panel-component-details-hide"
              = f.label :has_other_dependents_false, "No"
          .component-details{ :class => ('element-invisible' unless @defense.has_other_dependents) }
            %h5 boom

    = render :partial => 'claims/defence/save_continue', :locals => {f: f}
