= render_defence_navigation
%article
  %h1 Confirmation
  %p Thank you for submitting your defence.
  %p
    You can view full details of this defence under
    %a.fake-link the claim
    in your
    %a.fake-link account
  %p#reference-number
    Your reference is:
    %strong JR6QJPSL
  #confirmation-view-print-buttons
    .button Print receipt
    #confirmation-print-receipt.button-secondary Print completed form
  %section#hearing-details
    %h2 Hearing details
    .court-hearing-details-time
      - date = (Date.today + 3.weeks)
      %h3
        %strong= date.strftime("%A %-d %B")
        at
        %strong 10:30am
    .moj-panel
      = render :partial => 'shared/lambeth_court'
  %section#what-next
    %h2#what-next-title What happens next
    %p We'll send the details of your defence to the court.
    %p
      The tenant has until
      %strong= (Date.today + 2.weeks).strftime("%-d %B %Y")
      to respond.
    %p
      A judge will decide on the case at the hearing on
      %strong #{date.strftime("%-d %B %Y")}.
