= render_local_navigation

%article
  %h2 Step 1 of 5 - Personal details
  %p.lead Add your personal details as they appear on the form
    
  %section
    = render :partial => 'people/show', :locals => {person: @claim.primary_defendant, options: {class: 'defendant'}}

  = simple_form_for @claim.primary_defense, :url => { :action => "update" } do |f|
    %section
      %h3 Contact details
      .panel-default
        %input{ type: 'hidden', name: 'personal_details', value: 'true'}
        = f.simple_fields_for :owner do |sf|
          %details.view-case-contact-details
            %summary{ :'aria-expanded' => false } If current address is different from above add contact address
            %p
              = sf.simple_fields_for :address do |sff|
                .address-container.edit-person{ id: 'address-' + sff.object.id.to_s }
                  .address{ class: ("element-invisible" unless sff.object.is_valid?) }
                    = sff.input :street_1, label: 'Street'
                    = sff.input :street_2, label: '&nbsp;'
                    = sff.input :street_3, label: '&nbsp;'
                    = sff.input :town
                    = sff.input :county
                    
                    = sff.input :postcode do 
                      = sff.input_field :postcode, class: 'postcode'
                      - classes = 'button-secondary find-uk-address'
                      - classes << ' disabled' if sff.object.postcode.blank?
                      = link_to 'Find UK address', '/address/picker', :class => classes

          = sf.input :phone
          = sf.input :mobile
          = sf.input :email

        / Solicitor
        %details.view-case-contact-details
          %summary.form-row This defence is being completed by a solicitor on behalf of the tenant
          .form-row
            %label{ :for => "solicitor-name" } Solicitor name
            %input{ :id=> "Solicitor-name", :type=>"text"}

  
    = render :partial => 'claims/defence/save_continue', :locals => {f: f}
