%article
  %h2.lead Repossession case no. RL7MG3LJ
  %p.lead
    Issued on #{ @claim.created_at.strftime('%-d %B %Y') }

  %section
    %h3 Landlord
    - options = { class: "claimant" }
    - @claim.claimants.each do |person|
      = render partial: "people/show", locals: { options: options, person: person }

  %section
    %h3 Tenant
    - options = { class: "defendant", show_extended_contact_details: true }
    - @claim.defendants.each do |person|
      = render partial: "people/show", locals: { options: options, person: person }

  %section
    %h3 Property
    - options = { class: "address-for-possession" }
    = render partial: 'addresses/address_for_possession/view', :locals => { claim: @claim, address: @claim.address_for_possession, options: {} }

  %section
    %h3 Claim particulars
    - options = { class: 'horizontal' }
    = render partial: "claims/shared/particulars/view", locals: { claim: @claim, options: options }

  - if @claim.arrears.size > 0
    %section
      %h3 Unpaid rent
      = render partial: "arrears/read_only", locals: { claim: @claim }

  - if @claim.attachments.size > 0
    %section.attachments
      %h3 Supporting documentation
      - @claim.attachments.each do |attachment|
        %h4.moj-panel
          = attachment.file_name
          %span.button.right View

  %section
    %h3 Status
    %span Hearing scheduled
    %section.moj-panel
      = render partial: 'claims/shared/scheduled_hearing'
      = render partial: "shared/lambeth_court"

.save-close-panel
  = link_to 'Start defence', defence_personal_details_claim_defence_path, :class => 'button'
  .secondary-group
    = link_to 'Download and print claim', '#', :class => 'button-secondary'
    = link_to 'Close', claim_defence_path, :class => 'button-secondary'

