<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK"></a>
        <a href="#search" class="search-toggle">Search</a>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <nav id="proposition-menu">
          <a href="/" id="proposition-name">Possession Claims Online</a>
        </nav>
      </div>
    </div>
  </div>
</header>

<div id="phase-notice">
  <p><strong>ALPHA:</strong> This is a new service - your feedback will help us to improve it</p>
</div>


<div class='user-data clearfix navbar' id='user-nav'>
  <ul class="nav navbar-nav">
    <li class='dropdown'>
      <a href='#' class='dropdown-toggle' data-toggle='dropdown'><%= @user.full_name %><b class='caret'></b></a>
      <ul class='dropdown-menu'>
        <li class='indent'>Application roles:</li>
        <li class='divider'></li>
        <li><%= login_link_to_role 'claimant' %></li>
        <li><%= login_link_to_role 'defendant' %></li>
        <li><%= login_link_to_role 'staff' %></li>
        <li><%= login_link_to_role 'judge' %></li>
      </ul>
    </li>
    <li><a href='#'>Account details</a></li>
    <li><%= link_to 'Sign Out', claims_delete_all_path %></li>
  </ul>
</div>