<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head", :title => Rails.configuration.app_title, :noapp => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body class='<%= Rails.configuration.phase %>'>
  <%= render 'shared/header', :proposition => 'Repossess a property' %>
  <%= render 'shared/phase_indicator' %>
  <%= render 'layouts/header' %>
  
  <div id="wrapper">
    <main role="main">
      <header class="page-header group">
        <h1>
          <span>Service</span> 
          Recover Property:<br />
          Make a possession claim online
        </h1>
      </header>

      <%= render 'layouts/messages' %>
      <%= yield %>
      
    </main>
  </div>

  <%= render'shared/footer' %>

</body>
</html>
